// Colors
$col-primary: #11093a;

// Box Shapes
$base: polygon(3% 0%,97% 0%,100% 50%,100% 50%,97% 100%,3% 100%,0% 50%,0% 50%);
$big: polygon(5% 0%,95% 0%,100% 50%,100% 50%,95% 100%,5% 100%,0% 50%,0% 50%);
$medium: polygon(7% 0%,93% 0%,100% 50%,100% 50%,93% 100%,7% 100%,0% 50%,0% 50%);
$small: polygon(9% 0%,91% 0%,100% 50%,100% 50%,91% 100%,9% 100%,0% 50%,0% 50%);